<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>资源管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<style>
    .layadmin-homepage-pad-ver {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .layadmin-homepage-pad-img {
        box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    }

    .layui-table-cell {            overflow: visible !important;        }

    .layui-table-body {
        overflow: visible;
    }
    .layui-table td .layui-table-cell {
        line-height: 28px;
    }
    .layui-anim-upbit{
        position: absolute;
    }
    /* 调整高度 */
    td .layui-form-select {
        margin-top: -10px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .layui-table-box{
        overflow: visible!important;
    }
    .layui-upload-img{width: 290px; height: 93px; margin: 0 10px 10px 0;}
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">资源管理</div>
                <div class="layui-card-body">
                    <div class="test-table-reload-btn" style="margin-bottom: 10px;">
                        <div class="layui-inline">
                              <input class="layui-input" name="polymerization" id="test-table-demoReload"
                                     autocomplete="off" placeholder="快捷搜索">
                          </div>
                          <button class="layui-btn" data-type="reload">搜索</button>
                        <button id="resources-button-add" shiro-event="jax:resources:open-add" class="layui-btn"><i
                                class="layui-icon">&#xe654;</i>添加
                        </button>
                        <button id="category-button-select" shiro-event="jax:category:select" class="layui-btn"><i
                                class="layui-icon">&#xe654;</i>资源类别管理
                        </button>
                    </div>
                    <table class="layui-hide" id="auth-table" lay-filter="auth-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="auth-state" hidden>
    <button lay-event="upload" shiro-event="jax:resources:upload" class="layui-btn layui-btn-primary layui-btn-xs sss">
        <i class="layui-icon">&#xe642;</i>上传
    </button>
    <button lay-event="remove" shiro-event="jax:resources:open-remove" class="layui-btn layui-btn-primary layui-btn-xs">
        <i class="layui-icon">&#xe640;</i>删除
    </button>
</div>

<!-- 类别管理的删除功能 -->
<div id="auth-category-state" hidden>
    <button lay-event="remove" shiro-event="jax:category:open-remove" class="layui-btn layui-btn-primary layui-btn-xs">
        <i class="layui-icon">&#xe640;</i>删除
    </button>
</div>

<!--添加-->
<div id="submit-form-add" hidden>
    <button class="layui-btn" shiro-event="jax:resources:add" lay-submit lay-filter="submit-form-resources">立即提交
    </button>
    <!--添加-->
    <button type="reset" shiro-event="jax:resources:add-reset" class="layui-btn layui-btn-primary">重置</button><!--添加-->
</div>

<!-- 添加类别 -->
<div id="submit-form-category-add" hidden>
    <button class="layui-btn" shiro-event="jax:category:add" lay-submit lay-filter="submit-form-category">立即提交
    </button>
    <!--添加-->
    <button type="reset" shiro-event="jax:category:add-reset" class="layui-btn layui-btn-primary">重置</button><!--添加-->
</div>


<!--修改-->
<div id="submit-form-update" hidden>
    <button class="layui-btn" shiro-event="jax:resources:update" lay-submit lay-filter="submit-form-resources">立即提交
    </button>
    <button type="reset" shiro-event="jax:resources:update-reset" class="layui-btn layui-btn-primary">重置</button>
</div>
<div id="layui-resources" hidden>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" id="layui-form-resources" lay-filter="component-form-group">
                    <div class="layui-form-item">
                        <input type="hidden" id="id" name="id">

                        <div>

                            <div style="width: 350px;float: left">
                                <div class="layui-form-item layui-form-text" >
                                    <label class="layui-form-label">资源名称</label>
                                    <div class="layui-input-inline" style="width: 212px">
                                        <input type="text" id="name" name="name" lay-verify="required" placeholder="请输入名称"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text" >
                                    <label class="layui-form-label">选择类别</label>
                                    <div class="layui-input-inline">
                                        <select name="category_id" id="category_id" lay-verify="required">
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text" style="width: 340px">
                                    <label class="layui-form-label">点击次数</label>
                                    <div class="layui-input-inline" style="width: 212px">
                                        <input type="text" id="total" name="total" lay-verify="required|number" placeholder="请输入点击次数"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text"  style="width: 340px">
                                    <label class="layui-form-label">链接地址</label>
                                    <div class="layui-input-inline" style="width: 212px">
                                        <input type="text" id="http" name="http" lay-verify="required" placeholder="请输入链接地址"
                                               class="layui-input">
                                    </div>
                                </div>
                                <!--<div class="layui-form-item layui-form-text"  style="width: 340px">
                                    <label class="layui-form-label">排序</label>
                                    <div class="layui-input-inline" style="width: 212px">
                                        <input type="text" id="sort" name="sort" lay-verify="required|number" placeholder="排序"
                                               class="layui-input">
                                    </div>
                                </div>-->
                            </div>
                            <div style="width: 45%;float: right">
                                <div class="layui-card-body" style="padding: 0px 0px">
                                    <div class="layui-upload">
                                        <button type="button" class="layui-btn" id="test-upload-normal">上传图片</button>
                                        <div class="layui-upload-list">
                                            <img class="layui-upload-img" id="test-upload-normal-img">
                                            <p id="test-upload-demoText"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="layui-form-item layui-form-text">

                        </div>
                        <div class="layui-input-block">
                            <!--操作-->
                            <div class="layui-footer" id="submit-form-resources-button" style="left: 0;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="layui-category" hidden>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">资源类别管理</div>
                <div class="layui-card-body">
                    <div class="test-table-reload-btn" style="margin-bottom: 10px;">
                        <button id="category-button-add" shiro-event="jax:category:open-add" class="layui-btn"><i
                                class="layui-icon">&#xe654;</i>添加
                        </button>
                    </div>
                    <table class="layui-hide" id="category-auth-table" lay-filter="category-auth-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div id="layui-category-add" hidden>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" id="layui-form-category" lay-filter="component-form-group">
                    <div class="layui-form-item">
                        <div class="layui-form-item layui-form-text" >
                            <label class="layui-form-label">类别名称</label>
                            <div class="layui-input-inline">
                                <input type="text"  name="name" lay-verify="required" placeholder="请输入类别名称"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">排序</label>
                            <div class="layui-input-inline">
                                <input type="text"  name="sort" lay-verify="required" placeholder="请输入序号"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-input-block">
                            <!--操作-->
                            <div class="layui-footer" id="submit-form-category-button" style="left: 0;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<button style="display: none" type="button" class="layui-btn sss" id="test-upload-type1"><i class="layui-icon"></i>上传文件
</button>


<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
    }).use(['index', 'table', 'formgs', 'form', 'security', 'layer', 'upload'], function () {
        var $ = layui.jquery,
            admin = layui.admin,
            table = layui.table,
            formgs = layui.formgs,
            form = layui.form,//控制添加修改（同一个弹出层）关闭弹出层的索引
            upload = layui.upload,
            layer = layui.layer, closeindex;
        var categoryList=null;

        function init(){
            admin.req({
                url: layui.setter.url+ "resources/selectCategory",
                data:{},
                done : function (res) {
                    categoryList=res.data;
                }
            })
        }
        init();
        table.render({
            elem: '#auth-table'
            , url: layui.setter.url + 'resources/select'
            , title: '资源'
            , cols: [[
                {
                    field: 'imgurl', align:'center', title: '资源',
                    templet: function (obj) {
                        if (obj.imgurl != '' && obj.imgurl != null) {
                            var t = "../../statics/upload/" + obj.imgurl;
                            obj.imgurl = '<img style="height:28px" onclick="tc(\'' + t + '\')" onload="DrawImage(this,100,28)"  src="' + t + '"/>';
                        }else{
                            obj.imgurl='暂无图片';
                        }
                        return obj.imgurl;
                    }
                },
                {field: 'name', title: '资源名称', edit: 'text',},
                {field: 'http', title: '资源地址', edit: 'text',},
                {field: 'category_id', title: '资源类别', sort:false,
                    templet: function(d){
                        var html='<select name="category_id" data-cid="'+d.id+'" lay-filter="selectCategory" lay-verify="required">';
                        for(var c in categoryList){
                            if(d.category_id==categoryList[c].id){
                                html+='<option value="'+categoryList[c].id+'" selected="selected" >'+categoryList[c].name+'</option>';
                            }else{
                                html+='<option value="'+categoryList[c].id+'">'+categoryList[c].name+'</option>';
                            }
                        }
                        html+='</select>';
                        return html;
                    }
                },
                {field: 'total', title: '点击次数', edit: 'text',},
             /*   {field: 'sort', title: '排序', edit: 'text',},*/
                {fixed: 'right', title: '操作', toolbar: '#auth-state'}
            ]]
            , page: true
        });

        //普通图片上传
        var fileUpload="";
        var uploadInst_ = upload.render({
            elem: '#test-upload-normal'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    fileUpload=file;
                    $('#test-upload-normal-img').attr('src', result); //图片链接（base64）
                });
            }
        });





        var uploadInst = upload.render({
            elem: '#test-upload-type1'
            , ext: 'jpg|png|gif'
            , url: layui.setter.url + 'resources/upload'
            , accept: "file"
            , size: 10240
            , before: function (obj) {
                this.data = {id: aid};
                obj.preview(function (index, file, result) {
                    $('#test-upload-normal-img').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                res.code == 0 ? layer.msg('上传失败') : layer.msg('上传成功');
                table.reload("auth-table");
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#test-upload-demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
        table.on('tool(auth-table)', function (obj) {
            if (obj.event == 'upload') {
                aid = obj.data.id;
                $("#test-upload-type1").click();
            } else if (obj.event == "remove") {
                layer.confirm('确定要删除【' + obj.data.name + '】这个资源吗？', function (index) {
                    admin.req({
                        url: layui.setter.url + "resources/remove/" + obj.data.id
                    }).done(function (res) {
                        layer.close(index);
                        table.reload('auth-table');
                        layer.msg(res.msg);
                    })
                });
            }
        })
        table.on('edit(auth-table)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
            let url = layui.setter.url + "resources/update";
            admin.req({
                url: url,
                data: {id: data.id,category_id:data.category_id,name:data.name,sort: data.sort,total:data.total,http:data.http},
                done: function (res) {
                    table.reload("auth-table");
                    layer.msg(res.msg);
                }
            })
        });

        form.on('select(selectCategory)', function (data) {
            var id=$(data.elem).attr("data-cid");
            let url = layui.setter.url + "resources/update";
            admin.req({
                url: url,
                data: {id: id,category_id:data.value},
                done: function (res) {
                    table.reload("auth-table");
                    layer.msg(res.msg);
                }
            })
        });



        //查询
        var $ = layui.$, active = {
            reload: function () {
                var demoReload = $('#test-table-demoReload');
                //执行重载
                table.reload('auth-table', {
                    page: {curr: 1}//重新从第 1 页开始
                    , where: {name: demoReload.val()}
                });
            },
        };
        $("#resources-button-add").on("click", function () {
            layer.open({
                type: 1,
                area: ['20', '50%'],
                title: ("新增资源"),
                shadeClose: false,
                content: $("#layui-resources"),
                success: function (index, layero) {
                    closeindex = layero;
                    fileUpload="";
                    formgs.reset('layui-resources');
                    $("#total").val(0);
                    $("#submit-form-resources-button").html($("#submit-form-add").html());
                    $('#test-upload-normal-img').attr("src"," ");
                    var html='';
                    for(var c in categoryList){
                        html+='<option value="'+categoryList[c].id+'">'+categoryList[c].name+'</option>';
                    }
                    $("#category_id").html(html);
                    form.render();
                },
            });
        })

        $("#category-button-select").on("click", function () {
            layer.open({
                type: 1,
                area: ['70%', '60%'],
                title: ("资源类别"),
                shadeClose: false,
                content: $("#layui-category"),
                success: function (index, layero) {
                    table.render({
                        elem: '#category-auth-table'
                        , url: layui.setter.url + 'category/select'
                        , title: '资源类别'
                        , cols: [[
                            {field: 'name', title: '类别名称',edit:'text',},
                            {field: 'sort', title: '排序',edit:'text'},
                            {field: 'create_date', title: '创建时间', sort:false,},
                            {field: 'update_date', title: '修改时间', },
                            {fixed: 'right', title: '操作', toolbar: '#auth-category-state'}
                        ]]
                        , page: true
                    });
                },
            });
        })

        table.on('edit(category-auth-table)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
            let url = layui.setter.url + "category/update";
            admin.req({
                url: url,
                data: {id: data.id,name:data.name,name:data.name,sort: data.sort},
                done: function (res) {
                    init();
                    table.reload("category-auth-table");
                    table.reload("auth-table");
                    layer.msg(res.msg);
                }
            })
        });
        table.on('tool(category-auth-table)', function (obj) {
            if (obj.event == "remove") {
                layer.confirm('确定要删除【' + obj.data.name + '】这个类别吗？', function (index) {
                    admin.req({
                        url: layui.setter.url + "category/remove/" + obj.data.id
                    }).done(function (res) {
                        layer.close(index);
                        init();
                        table.reload('category-auth-table');
                        table.reload("auth-table");
                        layer.msg(res.msg);
                    })
                });
            }
        })

        $("#category-button-add").on("click",function(){
            layer.open({
                type: 1,
                area: ['20', '40%'],
                title: ("资源类别"),
                shadeClose: false,
                content: $("#layui-category-add"),
                success: function (index, layero) {
                    closeindex = layero;
                    formgs.reset('layui-form-category');
                    $("#submit-form-category-button").html($("#submit-form-category-add").html());
                    form.render();
                },
            });
        })

        form.on('submit(submit-form-category)', function (data) {
            admin.req({
                url: layui.setter.url + "category/add",
                data: data.field,
                done: function (res) {
                    layer.close(closeindex);
                    init();
                    table.reload("category-auth-table");
                    table.reload("auth-table");
                    layer.msg(res.msg);
                }
            })
            return false
        })

        //添加/修改提交
        form.on('submit(submit-form-resources)', function (data) {
            var url = layui.setter.url + "resources/add";
            var formdata = new FormData();
            formdata.append("category_id",data.field.category_id);
            formdata.append("http",data.field.http);
            formdata.append("name",data.field.name);
            /*formdata.append("sort",data.field.sort);*/
            formdata.append("total",data.field.total);
            formdata.append("file",fileUpload);
            admin.req({
                url: url,
                data: formdata,
                cache: false, //上传文件不需要缓存
                processData: false, // 告诉jQuery不要去处理发送的数据
                contentType: false, // 告诉jQuery不要去设置Content-Type请求头
                done: function (res) {
                    layer.close(closeindex);
                    table.reload("auth-table");
                    layer.msg(res.msg);
                }
            })
            return false
        })

        $('.test-table-reload-btn .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });


    function DrawImage(ImgD,width_s,height_s){
        var image=new Image();
        image.src=ImgD.src;
        if(image.width>0 && image.height>0){
            flag=true;
            if(image.width/image.height>=width_s/height_s){
                if(image.width>width_s){
                    ImgD.width=width_s;
                    ImgD.height=(image.height*width_s)/image.width;
                }else{
                    ImgD.width=image.width;
                    ImgD.height=image.height;
                }
            }
            else{
                if(image.height>height_s){
                    ImgD.height=height_s;
                    ImgD.width=(image.width*height_s)/image.height;
                }else{
                    ImgD.width=image.width;
                    ImgD.height=image.height;
                }
            }
        }
    }
    function tc(src){
        var html=''
        html+='<div id="tong" class="hide" style="width: 670px; height: 320px;display: table-cell;vertical-align: middle;  text-align: center; ">'
        html+='<img src="'+src+'" style="max-height: 500px;max-width: 1000px">'
        html+='</div>';
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            area: ['auto'],
            skin: 'layui-layer-nobg', //没有背景色
            shadeClose: true,
            content: html
        });
    }
</script>
</body>
</html>
