

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>5CQ传奇资源站后台管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">

  <script>
  /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
  </script>
</head>
<body class="layui-layout-body">

  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="../index.html" target="_blank" title="前台">
              <i class="layui-icon layui-icon-website"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

          <!--<li class="layui-nav-item" lay-unselect>
            <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
              <i class="layui-icon layui-icon-notice"></i>

              &lt;!&ndash; 如果有新消息，则显示小圆点 &ndash;&gt;
              <span class="layui-badge-dot"></span>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="theme">
              <i class="layui-icon layui-icon-theme"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="note">
              <i class="layui-icon layui-icon-note"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>-->
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
              <cite id="index-username"></cite>
            </a>
            <dl class="layui-nav-child">
              <dd><a lay-href="../views/sys/user/info.html">基本资料</a></dd>
              <dd><a lay-href="../views/sys/user/password.html">修改密码</a></dd>
              <hr>
              <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
            </dl>
          </li>

          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </li>
          <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
            <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
        </ul>
      </div>

      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" lay-href="home/console.html">
            <span>5CQ传奇资源站</span>
          </div>

          <ul class="layui-nav layui-nav-tree" id="menus" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
          </ul>
        </div>
      </div>


      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="./demo/console.html" frameborder="0" id="iframe" class="layadmin-iframe"></iframe>
        </div>
      </div>

      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script src="../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index','element'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
    console.log(layui.setter.url,'地址');
    admin.req({
      url: layui.setter.url + 'index' //实际使用请改成服务端真实接口
      ,done: function(res){
        $("#menus").html(menusNext(res.data.menus));

        if (res.data.buttons != null){
          //新=>旧按钮权限比较
          if (JSON.stringify(res.data.buttons) != window.localStorage.getItem("buttons")) {
            window.localStorage.setItem("buttons",JSON.stringify(res.data.buttons));
          }
        }else{
          window.localStorage.getItem("buttons");
        }



        var userinfo = JSON.parse(window.localStorage.getItem("userinfo"));
        var user = JSON.parse(window.localStorage.getItem("user"));
        console.log(user)

        $("#index-username").html(userinfo.username);

        element.render('nav');

      }
    });

    /**
     * 菜单渲染
     * Create By songxl on 2019-09-01 16:10:08
     */
    function menusNext(menus){
      console.log(menus,21333333333)
      var text = '';
      for (var i in  menus){
        var href = "";

        if (menus[i].href!=null){

          if (menus[i].target == '_self'){
            href = 'lay-href="'+menus[i].href+'"';
          }else{
            href = 'href="'+menus[i].href+'"';
          }
        }

        if (menus[i].parent_id==0){
          text += '<li data-name="get" class="layui-nav-item">' +
                  '  <a '+href+'  target="'+menus[i].target+'"   lay-direction="2">' +
                  '     <i class="layui-icon '+menus[i].icon+'"></i>' +
                  '     <cite>'+menus[i].name+'</cite>' +
                  '   </a>' +
                  (menus[i].menus.length==0?'':menusNext(menus[i].menus))+
                  '</li>'
        }else {
          text += '<dl class="layui-nav-child" >' +
                  '  <dd data-name="console" >' + //class="layui-this"  默认选中
                  '     <i class="layui-icon '+menus[i].icon+'"></i>' +
                  '    <a  '+href+' target="'+menus[i].target+'" >'+menus[i].name+'</a>' +
                  '  </dd>' +
                  (menus[i].menus.length==0?'':menusNext(menus[i].menus))+
                  '</dl>';
        }
      }
      return text;
    }


  });



  </script>

</body>
</html>


