<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>版本管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">


</head>
<body>
<style>
    .layadmin-homepage-pad-ver {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .layadmin-homepage-pad-img {
        box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    }
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">版本管理</div>
                <div class="layui-card-body">
                    <div class="test-table-reload-btn" style="margin-bottom: 10px;">
                      <!--  <div class="layui-inline">
                            <input class="layui-input" name="polymerization" id="test-table-demoReload"
                                   autocomplete="off" placeholder="请输入私服名称">
                        </div>
                        <button class="layui-btn" data-type="reload">搜索</button>-->
                        <button id="popular-button-add" shiro-event="sys:popular:open-add" class="layui-btn"><i
                                class="layui-icon">&#xe654;</i>添加
                        </button>
                    </div>
                    <table class="layui-hide" id="auth-table" lay-filter="auth-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="auth-state" hidden>
    <button lay-event="update" shiro-event="sys:popular:open-update" class="layui-btn layui-btn-primary layui-btn-xs"><i
            class="layui-icon">&#xe642;</i>修改
    </button>
    <button lay-event="remove" shiro-event="sys:popular:open-remove" class="layui-btn layui-btn-primary layui-btn-xs"><i
            class="layui-icon">&#xe640;</i>删除
    </button>
</div>

<!--添加-->
<div id="submit-form-add" hidden>
    <button class="layui-btn" shiro-event="sys:popular:add" lay-submit lay-filter="submit-form-popular">立即提交</button>
    <!--添加-->
    <button type="reset" shiro-event="" class="layui-btn layui-btn-primary">重置</button><!--添加-->
</div>
<!--修改-->
<div id="submit-form-update" hidden>
    <button class="layui-btn" shiro-event="sys:popular:update" lay-submit lay-filter="submit-form-popular">立即提交</button>
    <button type="reset" shiro-event="sys:popular:update-reset" class="layui-btn layui-btn-primary">重置</button>
</div>
<div id="layui-popular" hidden>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" id="layui-form-popular" lay-filter="component-form-group">
                    <div class="layui-form-item">
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">版本名称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="name" name="name" lay-verify="required" placeholder="请输入名称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">是否热搜</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="state" lay-filter="switch"  lay-skin="switch" lay-text="是|否" >
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">排序</label>
                            <div class="layui-input-inline">
                                <input type="text" id="sort" name="sort" lay-verify="required|number" placeholder="请输入序号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-input-block">
                            <!--操作-->
                            <div class="layui-footer" id="submit-form-popular-button" style="left: 0;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="layui-popular-update" hidden>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" id="layui-form-popular-update" lay-filter="component-form-group">
                    <div class="layui-form-item">
                        <input type="hidden" id="id" name="id">
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">版本名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" lay-verify="required" placeholder="请输入版本名称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">是否热搜</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="state" lay-skin="switch" lay-text="是|否">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">排序</label>
                            <div class="layui-input-inline">
                                <input type="text" name="sort" lay-verify="required|number" placeholder="请输入序号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-input-block">
                            <!--操作-->
                            <div class="layui-footer" id="update-popular-button" style="left: 0;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
    }).use(['index', 'table', 'formgs', 'form', 'security', 'layer', 'upload'], function () {
        var $ = layui.jquery,
            admin = layui.admin,
            table = layui.table,
            formgs = layui.formgs,
            form = layui.form,//控制添加修改（同一个弹出层）关闭弹出层的索引
            upload = layui.upload,
            layer = layui.layer, closeindex;
        table.render({
            elem: '#auth-table'
            , url: layui.setter.url + 'popular/select'
            , title: '版本'
            , cols: [[
                {field: 'name', title: '版本名称'},
                {field: 'state', title: '是否热搜',
                    templet:function (obj) {
                        return obj.state==1?"热搜":"非热搜";
                    }},
                {field: 'sort', title: '排序'},
                {field: 'create_date', title: '创建时间'},
                {field: 'update_date', title: '修改时间'},
                {fixed: 'right', title: '操作', toolbar: '#auth-state'}
            ]]
            , page: true
        });
        table.on('tool(auth-table)', function (obj) {
            if (obj.event == 'update') {
                layer.open({
                    type: 1,//弹窗类型
                    area: [12, '37%'],//定义宽和高
                    title: ('【' + obj.data.name + '】版本'),//题目
                    shadeClose: false,//点击遮罩层关闭
                    content: $("#layui-popular-update"),//打开的内容
                    success: function (index, layero) {
                        closeindex = layero;
                        formgs.get("layui-form-popular-update", obj.data);
                        if(obj.data.state == "1") {
                            $("input[name='state']").prop("checked", true);
                        } else {
                            $("input[name='state']").prop("checked", false);
                        }
                        $("#update-popular-button").html($("#submit-form-update").html());
                        //form.render刷新form 如果是针对单一刷新括号里面加上标签名 例：select刷新form.render('select')
                        form.render();

                    },
                    end: function () {
                        //getTableData();//结束之后请求表格数据的方法，新编辑的数据直接存库并展示在页面
                    }
                });
            } else if (obj.event == "remove") {
                layer.confirm('确定要删除【' + obj.data.name + '】这个版本吗？', function (index) {
                    admin.req({
                        url: layui.setter.url + "popular/remove/" + obj.data.id
                    }).done(function (res) {
                        layer.close(index);
                        table.reload('auth-table');
                        layer.msg(res.msg);
                    })
                });
            }
        })
        //查询
        var $ = layui.$, active = {
            reload: function () {
                var demoReload = $('#test-table-demoReload');
                //执行重载
                table.reload('auth-table', {
                    page: {curr: 1}//重新从第 1 页开始
                    , where: {demoReload: demoReload.val()}
                });
            },
            rolequery: function () {
                var query = $('#table-role-query');
                //执行重载
                table.reload('table-role', {
                    page: {curr: 1}//重新从第 1 页开始
                    , where: {likename: query.val()}
                });
            }
        };
        $("#popular-button-add").on("click", function () {
            layer.open({
                type: 1,
                area: ['12', '37%'],
                title: ("新增版本"),
                shadeClose: false,
                content: $("#layui-popular"),
                success: function (index, layero) {
                    closeindex = layero;
                    formgs.reset('layui-popular');
                    $("#submit-form-popular-button").html($("#submit-form-add").html());
                    form.render();
                },
            });
        })

        //添加/修改提交
        form.on('submit(submit-form-popular)', function (data) {
            var url = layui.setter.url + "popular/" + ((data.field.id == null||data.field.id=='') ? "add" : "update");
            console.log(data.field.state);
            if(data.field.state == "on"||data.field.state==1) {
                data.field.state = "1";
            } else {
                data.field.state = "0";
            }
            admin.req({
                url: url,
                data: data.field,
                done: function (res) {
                    layer.close(closeindex);
                    table.reload("auth-table");
                    layer.msg(res.msg);
                }
            })
            return false
        })

        $('.test-table-reload-btn .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
</body>
</html>
