.icon-arrow-bnor{
display: inline-block;
background-image: url('sprite.png');
background-position: -878px -157px;
width:18px;
height:9px;
}
.icon-arrow-bsel{
display: inline-block;
background-image: url('sprite.png');
background-position: -901px -157px;
width:18px;
height:9px;
}
.icon-arrow{
display: inline-block;
background-image: url('sprite.png');
background-position: -1120px -45px;
width:19px;
height:19px;
}
.icon-author{
display: inline-block;
background-image: url('sprite.png');
background-position: -1351px -110px;
width:14px;
height:16px;
}
.icon-browse-nor{
display: inline-block;
background-image: url('sprite.png');
background-position: -954px -110px;
width:15px;
height:20px;
}
.icon-browse-sel{
display: inline-block;
background-image: url('sprite.png');
background-position: -974px -110px;
width:15px;
height:20px;
}
.icon-btnProgress{
display: inline-block;
background-image: url('sprite.png');
background-position: -257px -287px;
width:155px;
height:55px;
}
.icon-btnSginup{
display: inline-block;
background-image: url('sprite.png');
background-position: 0px -371px;
width:155px;
height:55px;
}
.icon-btn_rzppf{
display: inline-block;
background-image: url('sprite.png');
background-position: 0px -287px;
width:252px;
height:79px;
}
.icon-camera{
display: inline-block;
background-image: url('sprite.png');
background-position: -89px -511px;
width:100px;
height:67px;
}
.icon-close{
display: inline-block;
background-image: url('sprite.png');
background-position: -994px -110px;
width:16px;
height:16px;
}
.icon-close1{
display: inline-block;
background-image: url('sprite.png');
background-position: -1070px -45px;
width:20px;
height:20px;
}
.icon-close2{
display: inline-block;
background-image: url('sprite.png');
background-position: -1015px -110px;
width:16px;
height:16px;
}
.icon-coin{
display: inline-block;
background-image: url('sprite.png');
background-position: -1389px -6px;
width:20px;
height:14px;
}
.icon-collectio-sel{
display: inline-block;
background-image: url('sprite.png');
background-position: -1340px -45px;
width:14px;
height:14px;
}
.icon-collection-nor{
display: inline-block;
background-image: url('sprite.png');
background-position: -1359px -45px;
width:14px;
height:14px;
}
.icon-collection{
display: inline-block;
background-image: url('sprite.png');
background-position: -1277px -45px;
width:16px;
height:14px;
}
.icon-collection1{
display: inline-block;
background-image: url('sprite.png');
background-position: -1298px -45px;
width:16px;
height:14px;
}
.icon-collection2-nor{
display: inline-block;
background-image: url('sprite.png');
background-position: -1343px -6px;
width:18px;
height:17px;
}
.icon-collection2-sel{
display: inline-block;
background-image: url('sprite.png');
background-position: -1366px -6px;
width:18px;
height:17px;
}
.icon-confirm{
display: inline-block;
background-image: url('sprite.png');
background-position: -160px -371px;
width:198px;
height:40px;
}
.icon-confirm1{
display: inline-block;
background-image: url('sprite.png');
background-position: -363px -371px;
width:198px;
height:40px;
}
.icon-contact{
display: inline-block;
background-image: url('sprite.png');
background-position: -1036px -110px;
width:16px;
height:16px;
}
.icon-contact1{
display: inline-block;
background-image: url('sprite.png');
background-position: -1057px -110px;
width:16px;
height:16px;
}
.icon-contactus{
display: inline-block;
background-image: url('sprite.png');
background-position: -1078px -110px;
width:16px;
height:16px;
}
.icon-crown{
display: inline-block;
background-image: url('sprite.png');
background-position: -194px -511px;
width:100px;
height:67px;
}
.icon-delete-sel{
display: inline-block;
background-image: url('sprite.png');
background-position: -800px -186px;
width:11px;
height:10px;
}
.icon-delete{
display: inline-block;
background-image: url('sprite.png');
background-position: -816px -186px;
width:11px;
height:10px;
}
.icon-delete1{
display: inline-block;
background-image: url('sprite.png');
background-position: -1378px -45px;
width:14px;
height:14px;
}
.icon-deletePic{
display: inline-block;
background-image: url('sprite.png');
background-position: -1016px -45px;
width:22px;
height:22px;
}
.icon-download{
display: inline-block;
background-image: url('sprite.png');
background-position: 0px -458px;
width:140px;
height:48px;
}
.icon-edit{
display: inline-block;
background-image: url('sprite.png');
background-position: -1099px -110px;
width:16px;
height:16px;
}
.icon-eyes{
display: inline-block;
background-image: url('sprite.png');
background-position: -1297px -157px;
width:12px;
height:10px;
}
.icon-findpwd{
display: inline-block;
background-image: url('sprite.png');
background-position: -1370px -110px;
width:14px;
height:16px;
}
.icon-findpwd1{
display: inline-block;
background-image: url('sprite.png');
background-position: -1389px -110px;
width:14px;
height:16px;
}
.icon-fire{
display: inline-block;
background-image: url('sprite.png');
background-position: -923px -45px;
width:42px;
height:30px;
}
.icon-gift{
display: inline-block;
background-image: url('sprite.png');
background-position: -803px -110px;
width:30px;
height:30px;
}
.icon-group{
display: inline-block;
background-image: url('sprite.png');
background-position: -894px -6px;
width:90px;
height:22px;
}
.icon-hot{
display: inline-block;
background-image: url('sprite.png');
background-position: -1408px -110px;
width:12px;
height:16px;
}
.icon-leaveMsg{
display: inline-block;
background-image: url('sprite.png');
background-position: -660px -6px;
width:112px;
height:34px;
}
.icon-left{
display: inline-block;
background-image: url('sprite.png');
background-position: -747px -110px;
width:23px;
height:42px;
}
.icon-left1{
display: inline-block;
background-image: url('sprite.png');
background-position: -683px -205px;
width:9px;
height:14px;
}
.icon-left2{
display: inline-block;
background-image: url('sprite.png');
background-position: -827px -45px;
width:43px;
height:43px;
}
.icon-line{
display: inline-block;
background-image: url('sprite.png');
background-position: -660px 0px;
width:760px;
height:1px;
}
.icon-line1{
display: inline-block;
background-image: url('sprite.png');
background-position: -611px -189px;
width:34px;
height:184px;
}
.icon-line2{
display: inline-block;
background-image: url('sprite.png');
background-position: -683px -110px;
width:32px;
height:71px;
}
.icon-line3{
display: inline-block;
background-image: url('sprite.png');
background-position: -552px -189px;
width:28px;
height:140px;
}
.icon-line4{
display: inline-block;
background-image: url('sprite.png');
background-position: -493px 0px;
width:54px;
height:184px;
}
.icon-line5{
display: inline-block;
background-image: url('sprite.png');
background-position: -894px -33px;
width:30px;
height:1px;
}
.icon-line6{
display: inline-block;
background-image: url('sprite.png');
background-position: -552px 0px;
width:54px;
height:184px;
}
.icon-line7{
display: inline-block;
background-image: url('sprite.png');
background-position: -660px -110px;
width:18px;
height:140px;
}
.icon-line8{
display: inline-block;
background-image: url('sprite.png');
background-position: -720px -110px;
width:22px;
height:71px;
}
.icon-line9{
display: inline-block;
background-image: url('sprite.png');
background-position: -611px 0px;
width:44px;
height:184px;
}
.icon-link{
display: inline-block;
background-image: url('sprite.png');
background-position: -1397px -45px;
width:14px;
height:14px;
}
.icon-more{
display: inline-block;
background-image: url('sprite.png');
background-position: -766px -157px;
width:14px;
height:14px;
}
.icon-more1{
display: inline-block;
background-image: url('sprite.png');
background-position: -1228px -6px;
width:18px;
height:18px;
}
.icon-person{
display: inline-block;
background-image: url('sprite.png');
background-position: -1319px -45px;
width:16px;
height:14px;
}
.icon-personData-nor{
display: inline-block;
background-image: url('sprite.png');
background-position: -1168px -45px;
width:17px;
height:18px;
}
.icon-personData-sel{
display: inline-block;
background-image: url('sprite.png');
background-position: -1190px -45px;
width:17px;
height:18px;
}
.icon-personHome{
display: inline-block;
background-image: url('sprite.png');
background-position: -1095px -45px;
width:20px;
height:20px;
}
.icon-phone{
display: inline-block;
background-image: url('sprite.png');
background-position: -823px -157px;
width:12px;
height:14px;
}
.icon-phone1{
display: inline-block;
background-image: url('sprite.png');
background-position: -908px -110px;
width:18px;
height:22px;
}
.icon-play{
display: inline-block;
background-image: url('sprite.png');
background-position: -404px -511px;
width:64px;
height:64px;
}
.icon-play1{
display: inline-block;
background-image: url('sprite.png');
background-position: -660px -45px;
width:60px;
height:60px;
}
.icon-play2{
display: inline-block;
background-image: url('sprite.png');
background-position: -341px -126px;
width:100px;
height:100px;
}
.icon-playNum{
display: inline-block;
background-image: url('sprite.png');
background-position: -751px -186px;
width:11px;
height:11px;
}
.icon-playNum1{
display: inline-block;
background-image: url('sprite.png');
background-position: -1120px -110px;
width:16px;
height:16px;
}
.icon-postEdit{
display: inline-block;
background-image: url('sprite.png');
background-position: -1212px -45px;
width:16px;
height:18px;
}
.icon-qizhi{
display: inline-block;
background-image: url('sprite.png');
background-position: -299px -511px;
width:100px;
height:67px;
}
.icon-qltj{
display: inline-block;
background-image: url('sprite.png');
background-position: -1071px -6px;
width:60px;
height:19px;
}
.icon-qq{
display: inline-block;
background-image: url('sprite.png');
background-position: -989px -6px;
width:77px;
height:22px;
}
.icon-qq1{
display: inline-block;
background-image: url('sprite.png');
background-position: -785px -157px;
width:14px;
height:14px;
}
.icon-qq2{
display: inline-block;
background-image: url('sprite.png');
background-position: -931px -110px;
width:18px;
height:20px;
}
.icon-qq3{
display: inline-block;
background-image: url('sprite.png');
background-position: -747px -157px;
width:14px;
height:16px;
}
.icon-qqLogin{
display: inline-block;
background-image: url('sprite.png');
background-position: -725px -45px;
width:46px;
height:47px;
}
.icon-quit{
display: inline-block;
background-image: url('sprite.png');
background-position: -1141px -110px;
width:16px;
height:16px;
}
.icon-quit1{
display: inline-block;
background-image: url('sprite.png');
background-position: -1162px -110px;
width:16px;
height:16px;
}
.icon-quotesLeft{
display: inline-block;
background-image: url('sprite.png');
background-position: -840px -157px;
width:14px;
height:12px;
}
.icon-quotesRight{
display: inline-block;
background-image: url('sprite.png');
background-position: -859px -157px;
width:14px;
height:12px;
}
.icon-rank{
display: inline-block;
background-image: url('sprite.png');
background-position: -1251px -6px;
width:18px;
height:18px;
}
.icon-regist{
display: inline-block;
background-image: url('sprite.png');
background-position: -1183px -110px;
width:16px;
height:16px;
}
.icon-regist1{
display: inline-block;
background-image: url('sprite.png');
background-position: -1204px -110px;
width:16px;
height:16px;
}
.icon-release-nor{
display: inline-block;
background-image: url('sprite.png');
background-position: -1225px -110px;
width:16px;
height:16px;
}
.icon-release-sel{
display: inline-block;
background-image: url('sprite.png');
background-position: -1246px -110px;
width:16px;
height:16px;
}
.icon-remenIcon{
display: inline-block;
background-image: url('sprite.png');
background-position: -970px -45px;
width:41px;
height:27px;
}
.icon-reset{
display: inline-block;
background-image: url('sprite.png');
background-position: -767px -186px;
width:11px;
height:11px;
}
.icon-review{
display: inline-block;
background-image: url('sprite.png');
background-position: -1267px -110px;
width:16px;
height:16px;
}
.icon-right{
display: inline-block;
background-image: url('sprite.png');
background-position: -775px -110px;
width:23px;
height:42px;
}
.icon-right1{
display: inline-block;
background-image: url('sprite.png');
background-position: -697px -205px;
width:8px;
height:14px;
}
.icon-right2{
display: inline-block;
background-image: url('sprite.png');
background-position: -875px -45px;
width:43px;
height:43px;
}
.icon-sale{
display: inline-block;
background-image: url('sprite.png');
background-position: 0px -511px;
width:84px;
height:80px;
}
.icon-search{
display: inline-block;
background-image: url('sprite.png');
background-position: -1144px -45px;
width:19px;
height:19px;
}
.icon-slideNavActive{
display: inline-block;
background-image: url('sprite.png');
background-position: -341px -231px;
width:122px;
height:38px;
}
.icon-tel{
display: inline-block;
background-image: url('sprite.png');
background-position: -1288px -110px;
width:16px;
height:16px;
}
.icon-time{
display: inline-block;
background-image: url('sprite.png');
background-position: -1248px -157px;
width:12px;
height:12px;
}
.icon-time1{
display: inline-block;
background-image: url('sprite.png');
background-position: -717px -186px;
width:12px;
height:12px;
}
.icon-time2{
display: inline-block;
background-image: url('sprite.png');
background-position: -1309px -110px;
width:16px;
height:16px;
}
.icon-tips{
display: inline-block;
background-image: url('sprite.png');
background-position: -1201px -6px;
width:22px;
height:18px;
}
.icon-tips2{
display: inline-block;
background-image: url('sprite.png');
background-position: -734px -186px;
width:12px;
height:12px;
}
.icon-title{
display: inline-block;
background-image: url('sprite.png');
background-position: 0px 0px;
width:488px;
height:121px;
}
.icon-title1{
display: inline-block;
background-image: url('sprite.png');
background-position: 0px -431px;
width:288px;
height:22px;
}
.icon-top{
display: inline-block;
background-image: url('sprite.png');
background-position: -683px -186px;
width:12px;
height:14px;
}
.icon-user{
display: inline-block;
background-image: url('sprite.png');
background-position: -804px -157px;
width:14px;
height:14px;
}
.icon-video{
display: inline-block;
background-image: url('sprite.png');
background-position: -1043px -45px;
width:22px;
height:20px;
}
.icon-vote{
display: inline-block;
background-image: url('sprite.png');
background-position: -777px -6px;
width:112px;
height:34px;
}
.icon-vs{
display: inline-block;
background-image: url('sprite.png');
background-position: 0px -126px;
width:176px;
height:156px;
}
.icon-vsWin{
display: inline-block;
background-image: url('sprite.png');
background-position: -181px -126px;
width:155px;
height:144px;
}
.icon-web-nor{
display: inline-block;
background-image: url('sprite.png');
background-position: -1274px -6px;
width:18px;
height:18px;
}
.icon-web-sel{
display: inline-block;
background-image: url('sprite.png');
background-position: -1297px -6px;
width:18px;
height:18px;
}
.icon-wechat{
display: inline-block;
background-image: url('sprite.png');
background-position: -1254px -45px;
width:18px;
height:15px;
}
.icon-wx{
display: inline-block;
background-image: url('sprite.png');
background-position: -776px -45px;
width:46px;
height:47px;
}
.icon-yy{
display: inline-block;
background-image: url('sprite.png');
background-position: -1320px -6px;
width:18px;
height:18px;
}
.icon-yztj{
display: inline-block;
background-image: url('sprite.png');
background-position: -1136px -6px;
width:60px;
height:19px;
}
.icon-zan-nor{
display: inline-block;
background-image: url('sprite.png');
background-position: -1330px -110px;
width:16px;
height:16px;
}
.icon-zan-sel{
display: inline-block;
background-image: url('sprite.png');
background-position: -1233px -45px;
width:16px;
height:17px;
}
.icon-zan1-nor{
display: inline-block;
background-image: url('sprite.png');
background-position: -838px -110px;
width:30px;
height:30px;
}
.icon-zan1-sel{
display: inline-block;
background-image: url('sprite.png');
background-position: -873px -110px;
width:30px;
height:30px;
}
.icon-zfb{
display: inline-block;
background-image: url('sprite.png');
background-position: -145px -458px;
width:115px;
height:42px;
}